/*
* 
* frontend dev : Farkas Imre
*/

.header{
	z-index:9999; position: relative;
	@extend %sn-font-secondary-regular;

	&.bg-header-dark{
		background-color: $bg-lapis-lapuli;
	}
	
	/* purgecss start ignore */
	.fixed-to-top{ 
		background-color: #fff; position: fixed; top: 0; left:0; width: 100%;
	}
	/* purgecss end ignore */

	.h-in-stack{
		z-index: 999; top: -200px; 
		@include anim(.5s);
	}
	
	.navbar-brand{ 
		padding:0; position: relative; overflow:hidden; z-index: 99999;
		width: 100px; margin-top: -10px;
		img{ width: 100% }
		@include M_Medium_Up{
			width: 123px;
		}
		@include M_Large_Up{
			width: 223px;
		}
	}

	.topnav{
		position: absolute; top:15px; right: 5px;
	}

}


.navbar {
	padding: 10px 0;	 
	@include M_Large_Up{
		@include anim(.2s);
		padding:10px 0;
	}

	&.navbar-dark{
		.navbar-nav .nav-item{
			.nav-link{
				color:$cl-navbar-dark;
				@include add_underline_on_hover ($cl-navbar-dark,100%,2px);
			}
			&.active{
				.nav-link{
					@include remove_underline_on_hover ($cl-navbar-dark,0,2px);
				}
			}
		}
		.navbar-brand{color:$cl-navbar-dark;}

		/* purgecss start ignore */
		.show{
			.dropdown-item{
				color:$cl-navbar-light;
				span{
					color: inherit;
				}
			}
		}
		/* purgecss end ignore */
		.btn-primary{
			background-color: $bg-white;
			color: $cl-btn-primary  ;
		}
	}

	&.navbar-light{
		a{
			color: $navbar-color;
		}

		.navbar-nav .nav-item{
			.nav-link{
				color:$cl-navbar-light;
				@include add_underline_on_hover ($cl-navbar-light,100%,2px);
			}
			&.active{
				.nav-link{
					@include remove_underline_on_hover ($cl-navbar-light,0,2px);
				}
			}
		}
		.navbar-brand{color:$cl-navbar-light;}


		/* purgecss start ignore */
		.show{
			.dropdown-item{
				color:$cl-navbar-light;
			}
		}
		/* purgecss end ignore */
	}

	.navbar-nav{
		padding-top: 20px;
		.nav-item{
			text-align: center;
			.nav-link{
				padding-top:5px; 
				padding-bottom: 5px; 
				display: block;
				font-size: 20px;
				position: relative;
				&.dropdown-toggle{
					margin-right: 20px;
					&:after{
					position: absolute; 
					top: 12px;
					 right: -20px;
					 background:url("images/dd.png") no-repeat 50% 90%;
					  width: 10px; height: 20px; border:none
					}
				}
			}

			&.active{
				.nav-link{
				}
			}

			.btn{
				border:none;
				padding: 13px 20px 5px;
				font-size: 30px;
				line-height: 30px;
				letter-spacing: .02em;
				@extend %sn-font-secondary-regular;
			}

			.dropdown-menu{
				border:none;
				padding: 20px 0;
				.dropdown-item{
					font-size: 20px;
					padding: 5px 40px;
					-webkit-transition: none;
					-moz-transition: none;
					-o-transition: none;
					transition: none;
					&:hover{
						background-color: $cl-navbar-light;
						color: $cl-white;
					}
				}
			}
		}

		@include M_Large_Up{
			
			.nav-item{
				+.nav-item{
					padding-left: 15px;
					@include M_Large_Up{
						padding-left: 15px;
					}
					@include M_ExtraLarge_Up{
						padding-left: 24px;
					}
					@include M_XXL_Up{
						padding-left: 35px;
					}
				}
				.dropdown-toggle{
					&:after{
						background-position: 50% 50% !important;
					}
				}

				.btn{
					margin-left: 15px;
				}
				.dropdown-menu{
					padding: 20px 0;
					margin-top: 15px;
					border:1px solid $cl-navbar-light;
					background-color: $bg_white;
					border-radius: 3px;
					&:before,
					&:after{
						content: "";
						display: block;
						width: 0;
						height: 0; 
						border-left: 12px solid transparent;
						border-right: 12px solid transparent;
						position:absolute;
					}
					&:before{
						border-bottom: 12px solid $bg_white;
						z-index: 2;
						top: -12px;
						left: 18%;
					}
					&:after{
						border-bottom: 12px solid $cl-navbar-light;
						z-index: 1;
						top: -13px;
						left: 18%;
					}
				}
			}
		}
		@include M_Large_Down{
			padding-bottom: 15px;
			.nav-item{
				margin-bottom: 10px;
				.nav-link{
					text-align: center;
					font-size: 1.8em;
				}
				.btn{
					margin-top: 25px; 
				}
			}
		}
	}

	#menu-trigger {
		border:none; padding:15px 10px; margin:0; border-radius:3px; position:absolute; right:20px; top:46px;z-index:999999; outline:none !important; box-shadow: none;
		.navbar-toggler-icon { 
			display:block; width:30px; height:3px; position:relative;margin:0; border-radius: 2px;
			&:before, 
			&:after { content:''; width:100%; height:3px;position:absolute; @include anim(.2s); border-radius: 2px; }
			&:before { top:-10px; left:4px; width: 34px;}
			&:after { top:10px; left:4px; width: 34px;}
		}
		&.collapsed {
			position: absolute;
			.navbar-toggler-icon{
				background-color: $base-font-color;
				&:before,
				&:after{ -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg); -ms-transform:rotate(0deg); transform:rotate(0deg); background-color: $base-font-color}
				&:before{width: 30px; top:-9px!important; }
				&:after{width: 30px; top:9px!important;background-color: $base-font-color}
			}
		}
		.navbar-toggler-icon{ 
			background:none;
			&:before {top:0!important; background-color:$base-font-color ; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg) }
			&:after { top:0!important; background-color:$base-font-color ; -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg) }
		}
		&:hover {
			.navbar-toggler-icon:before { top:-8px; }
			.navbar-toggler-icon:after { top:8px;  }
		}
	}
	
	&.navbar-dark  #menu-trigger
	{
		&.collapsed .navbar-toggler-icon {
			background: $bg-white ;
			&:before,
			&:after{
				background: $bg-white ;
			}
		}
		.navbar-toggler-icon {
			&:before,
			&:after{
				background: $bg-white ;
			}
		}
	}
}

@include M_Large_Up{
	.navbar-collapse{ /*margin-bottom: 32px;*/ }
	.dropdown-menu{
		//position: relative !important;
		&:after{
			left: 18%;
		}
	}
}
@include M_Large_Down{
	.navbar  .navbar-nav .nav-item .nav-link{
		display: inline-block; padding-bottom: 0;
	}
	.navbar-light .navbar-nav {
		.nav-link{ 
			color: $base-font-color;  
			&:hover{
				color: $base-font-color; 
			}
		}
		.btn{margin-top: 40px;}

		
	}
	.navbar-light {
		.navbar-collapse{
			background-color: $bg_white;
		}
	}
	.navbar-dark{
		.navbar-collapse{
			background-color:  $cl-navbar-light;
		}
	}
	.navbar-collapse{
		position: fixed; top: 0; left:0;  right: 0; padding-top: 90px;  height: 110%; bottom:0; z-index: 999;overflow: auto;

		&.collapsing {
			height: 110% !important;
			left: -100%;
		}
		&.show{
			left: 0;
		}
	}
	.dropdown-menu{
		position: relative !important;
		&:after{
			left: 48%;
		}
		.dropdown-item{
			text-align: center;
		}
	}


	@keyframes MenuAnimation { 
		0% {
			opacity: 0;
			left: -100%;
		}

		100% {
			opacity: 1;
			left: 0%;
		}
	}

/*
	.navbar-nav .nav-item {
		animation: MenuAnimation .6s cubic-bezier(.9,.07,.26,.11);
		animation-fill-mode: both;
		position: relative;
	}

	.navbar-nav .nav-item:nth-child(1) { animation-delay: .1s;  }
	.navbar-nav .nav-item:nth-child(2) { animation-delay: .2s;  }
	.navbar-nav .nav-item:nth-child(3) { animation-delay: .3s;  }
	.navbar-nav .nav-item:nth-child(4) { animation-delay: .4s;  }
	.navbar-nav .nav-item:nth-child(5) { animation-delay: .5s;  }
	.navbar-nav .nav-item:nth-child(6) { animation-delay: .6s;  }
	.navbar-nav .nav-item:nth-child(7) { animation-delay: .7s;  }
	.navbar-nav .nav-item:nth-child(8) { animation-delay: .8s;  }
	*/
}


.list-lang { 

	list-style: none; float: right; 

	li{ 
		display: inline-block; 
		padding-left: 0px;

		@include M_Medium_Down{
			padding-left: 0;
		}

		@include M_Large_Up{
			padding-left: 15px;
		}
		@include M_ExtraLarge_Up{
			padding-left: 20px;
		}
		@include M_XXL_Up{
			padding-left: 35px;
		} 
	}
	a {
		color: inherit; 
		font-size: 18px; 
		letter-spacing: -.06em;
	}

}